@import "../../../vars/vars";


.creator {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.controls {
    margin-top: 20px;
    width: 100%;
}

.constructorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructorButton {
    width: 36.5px;
    height: 36.5px;
}

.constructorButton + .constructorButton {
    margin-left: 10px;
}
.constructor {
    display: grid;
    grid-template:
        "a" 1fr
        "b" 48px/1fr;
    grid-gap: 10px;

    @media (max-width: $screen-md) {
        grid-template:
            "b" 48px/48px
            "a" 1fr/1fr;
    }
}