@import '../vars/vars';

.FormContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.inputWrapper {
  margin-bottom: 15px;
}

.Frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 760px;
  min-height: 200px;
  margin: 20px 0 0 0;
  padding: 20px 10px;
  border-radius: 5px;
}