@font-face {
  font-family: 'R2';
  src: url('../../fonts/R2.ttf');
  font-style: normal;
  font-weight: normal;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 20.5%;
}

.GameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Arrow {
  margin: auto 20px;
  font-family: 'R2', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #007bff;
  transition: transform 0.25s ease-in-out;
}

.Arrow:hover {
  transform: scale(1.1);
}

.Arrow:active {
  transform: scale(0.95);
}

.Arrow__disabled {
  margin: auto 20px;
  font-family: 'R2', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #a7a7a7;
}

.SetsWrapper {
  display: flex;
  justify-content: center;
}

.SetsCounter {
  margin: 0 0 10px;
  color: #727171;
  font-size: 20px;
}