.PictureCard {
  position: relative;
  margin: 5px;
  padding: 10px;
  width: 7.25rem;
  height: 6.75rem;
  user-select: none;

  .cardMedia {
    height: 5rem;
    border-radius: 0.1rem;
  }

  .actionArea {
    margin-top: 0.4rem;
  }

  .wordSpace {
    margin: auto;
    border: 0.05rem dotted #d0d0d0;
    border-radius: 0.1rem;
    height: 1.5rem;
  }

  .wordSpace:hover {
    border: 0.05rem dashed #fd7676;
  }
}