.userWrapper {
  display: grid;
  grid-template: "avatar username" 1.5fr
  "avatar logout" 1fr/0.5fr 2fr;
  height: 100%;
  grid-column-gap: 1rem;
  align-items: center;
}

.avatar {
  grid-area: avatar;
}

.username {
  grid-area: username;
  align-self: end;
}

.logout {
  grid-area: logout;
  align-self: start;
}