.SetCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 600px;
  min-height: 500px;

  .PicturesWrapper {
    height: 300px;
    display: grid;
    grid-template:
      "card card card card" 50%
      "card card card card" 50%/25% 25% 25% 25%;
    justify-items: center;
  }

  .WordsWrapper {
    height: 75px;
    display: grid;
    grid-template:
      "word word word word word" 50%
      "word word word word word" 50%/20% 20% 20% 20% 20%;
    justify-items: center;
  }

  .ControlsWrapper {
    display: grid;
    grid-template:
      "button1 button2 button3" 50px/33.33% 33.33% 33.33%;
    align-items: center;
  }

  .SubmitButton {
    grid-area: button2;
    background: #058d2f;
    height: 35px;
    width: 150px;
    justify-self: center;
    font-size: 20px;
  }

  .SubmitButton:hover {
    background: #73ee65;
  }

  .SubmitButton:active {
    background: #058d2f;
  }

  .SubmitButton__disabled {
    grid-area: button2;
    background: #c3c3c3;
    height: 35px;
    width: 150px;
    justify-self: center;
    font-size: 20px;
  }

  .RedoWrapper {
    grid-area: button3;
    display: grid;
    grid-template:
      "counter button" 50px/60% 40%;
    align-items: center;
    color: #858585;
  }

  .Counter {
    justify-self: end;
    margin: 0 10px 0 0;
  }

  .RedoButton {
    grid-area: button;
    margin: 0 5px 0 0;
    background: #e38717;
    height: 35px;
    width: 75px;
    justify-self: end;
    font-size: 20px;
  }

  .RedoButton:hover {
    background: #f5a94d;
  }

  .RedoButton:active {
    background: #e38717;
  }

  .RedoButton__disabled {
    grid-area: button;
    background: #c3c3c3;
    height: 35px;
    width: 75px;
    justify-self: end;
    font-size: 20px;
    margin: 0 5px 0 0;
  }

  .RefreshButton {
    grid-area: button1;
    height: 35px;
    width: 100px;
    justify-self: start;
    margin: 0 0 0 5px;
    font-size: 20px;
  }
}
