.wordCard {
  background: white;
  min-width: 6.75rem;
  vertical-align: middle;
  user-select: none;
  height: 1.5rem;
  transition: all .25s ease-in !important;
}

.wordCard:hover {
  background: #d2d2d2;
  transform: scale(1.1);
}